.guider {
  background: #FFF;
  border: 1px solid #666;
  font-family: arial;
  position: absolute;
  outline: none;
  padding: 4px 12px;
  width: 500px;
  z-index: 100000005 !important;

  /* Shadow */
  -moz-box-shadow: 0 0 8px #111;
  -webkit-box-shadow: 0 0 8px #111;
  box-shadow: 0 0 8px #111;
  /* End shadow */

  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}

.guider_buttons {
  height: 36px;
  position: relative;
  width: 100%;
}

.guider_content {
  position: relative;
}

.guider_content h1 {
  color: #1054AA;
  float: left;
  font-size: 21px;
}

.guider_close {
  float: right;
  padding: 10px 0 0;
}

.x_button {
  cursor: pointer;
  height: 13px;
  width: 13px;
  /* @embed */
  background: url('x_close_button.jpg') 0 0 no-repeat;
}

.guider_content p {
  clear: both;
  color: #333;
  font-size: 13px;
}

.guider_button {
  background: -moz-linear-gradient(top, #5CA9FF 0%, #3D79C3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CA9FF), color-stop(100%, #3D79C3));
  background-color: #4A95E0; /* overruled by background gradient, in browsers where they exist */
  border: solid 1px #4B5D7E;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

#guider_overlay {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 10;
}

.guider_arrow {
  width: 42px;
  height: 42px;
  position: absolute;
  display: none;
  z-index: 100000006 !important;
  /* @embed */
  background: url('guider_arrows.png') 0 0 no-repeat;
}

.guider_arrow_right {
  display: block;
  background-position: 0 0;
  right: -42px;
}
.guider_arrow_down {
  display: block;
  background-position: 0 -42px;
  bottom: -42px;
}
.guider_arrow_up {
  display: block;
  background-position: 0 -126px;
  top: -42px;
}
.guider_arrow_left {
  display: block;
  background-position: 0 -84px;
  left: -42px;
}

.guider_highlight {
  position: relative;
  z-index: 101;
}
