[submodule "modules/externals/mediawiki.libs.guiders/mediawiki.libs.guiders.submodule"]
	path = modules/externals/mediawiki.libs.guiders/mediawiki.libs.guiders.submodule
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/GuidedTour/guiders.git
