.guider {
	background: #FFF;
	border: 1px solid #666;
	font-family: arial;
	position: absolute;
	outline: none;
	padding: 4px 12px;
	width: 500px;
	z-index: 100000005 !important;

	/* Shadow */
	-moz-box-shadow: 0 0px 8px #111;
	-webkit-box-shadow: 0 0px 8px #111;
	box-shadow: 0 0px 8px #111;
	/* End shadow */

	/* Rounded corners */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* End rounded corners */
}

.guider_buttons {
	height: 36px;
	position: relative;
	width: 100%;
}

.guider_content {
	position: relative;
}

.guider_content h1 {
	color: #1054AA;
	float: left;
	font-size: 21px;
	width: 95%;
}

.guider_close {
	float: right;
	padding: 10px 0 0;
}

.x_button {
	cursor: pointer;
	height: 13px;
	width: 13px;
	background-repeat: no-repeat;
	/* @embed */
	background-image: url('x_close_button.jpg');
}

.guider_content p {
	clear: both;
	color: #333;
	font-size: 13px;
}

#guider_overlay {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	z-index: 100000004;
}

.guider_arrow {
	width: 42px;
	height: 42px;
	position: absolute;
	display: none;
	background-repeat: no-repeat;
	z-index: 100000006 !important;

	/* @embed */
	background-image: url('guider_arrows.png');
}

/**
   Since Guiders uses dynamic absolute positioning, the below flipping needs to be handled at a higher level.
*/

/* @noflip */
.guider_arrow_right {
	display: block;
	background-position: 0px 0px;
	right: -42px;
}

.guider_arrow_down {
	display: block;
	background-position: 0px -42px;
	bottom: -42px;
}

.guider_arrow_up {
	display: block;
	background-position: 0px -126px;
	top: -42px;
}

/* @noflip */
.guider_arrow_left {
	display: block;
	background-position: 0px -84px;
	left: -42px;
}

.guider_highlight {
	position: relative;
	z-index: 101;
}
